################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Capstone Project/.vs/Capstone Project/FileContentIndex
